name: Deploy Theme
on:
  push:
    branches:
      - main
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: TryGhost/action-deploy-theme@v1
        with:
          api-url: ${{ https://appsolut-one.ghost.io }}
          api-key: ${{ 693150a0ee7e850001d78017:c0301b8155dbfdd59368b4e617995bf14e489eceecf98f2ea4d07f9a2184ffd0 }}
          theme-name: "aspect"
